---
title: "Publications"
permalink: /publications/
layout: single
collection: publications
classes: wide
author_profile: true
---

## Journal Articles
<ul>
{% for publication in site.publications %}
  {% if publication.type == "Journal" %}
    <li>
      <a href="{{ publication.url }}">{{ publication.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>


<h2>Conference Papers</h2>
<ul>
{% for publication in site.publications %}
  {% if publication.type == "Conference" %}
    <li>
      <a href="{{ publication.url }}">{{ publication.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Books/Book Chapters</h2>
<ul>
{% for publication in site.publications %}
  {% if publication.type == "Books" %}
    <li>
      <a href="{{ publication.url }}">{{ publication.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Conference Presentations</h2>
<ul>
{% for publication in site.publications %}
  {% if publication.type == "Presentations" %}
    <li>
      <a href="{{ publication.url }}">{{ publication.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>

<h2>Unpublished</h2>
<ul>
{% for publication in site.publications %}
  {% if publication.type == "Unpublished" %}
    <li>
      <a href="{{ publication.url }}">{{ publication.title }}</a>
    </li>
  {% endif %}
{% endfor %}
</ul>
