---
title: "Publications"
permalink: /publications/
layout: single
collection: publications
classes: wide
author_profile: true
---

## Journal Articles
{% for publication in site.publications %}
  {% if publication.type == "Journal" %}
    - [{{ publication.title }}]({{ publication.url }})
  {% endif %}
{% endfor %}

## Conference Papers
{% for publication in site.publications %}
  {% if publication.type == "Conference" %}
    - [{{ publication.title }}]({{ publication.url }})
  {% endif %}
{% endfor %}

## Books/Book Chapters
{% for publication in site.publications %}
  {% if publication.type == "Books" %}
    - [{{ publication.title }}]({{ publication.url }})
  {% endif %}
{% endfor %}

## Conference Presentations
{% for publication in site.publications %}
  {% if publication.type == "Presentations" %}
    - [{{ publication.title }}]({{ publication.url }})
  {% endif %}
{% endfor %}

## Unpublished
{% for publication in site.publications %}
  {% if publication.type == "Unpublished" %}
    - [{{ publication.title }}]({{ publication.url }})
  {% endif %}
{% endfor %}
