---
layout: default
---

<div class="project-page-container" style="max-width: 1200px; margin: 0 auto;">

  <!-- Large Image centered -->
  <div style="text-align: center; margin-bottom: 30px;">
    <img src="{{ page.large_image }}" alt="{{ page.title }}" style="max-width: 80%; height: auto;">
  </div>

  <!-- Description with justified text and margins -->
  <div style="text-align: justify; margin: 0 auto; max-width: 80%;">
    {{ content }}
  </div>

</div>
---
title: "Renewable Energy"
layout: research_project  # This links to the new layout
excerpt: "The studies assessed the environmental and economic impacts of solar PV systems in off-grid areas where electricity was not available."
image: /images/Renewable-energy-500x300.jpg
large_image: /images/Renewable-energy.jpg
---
